.formContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.form{
    display: grid;
    padding-top: 20px; 
    background-color: blanchedalmond;
    border: black 1px solid;
    width: 500px;
    height: 400px;
    row-gap: 1px;
}

.main{
    display: grid;
    grid-template-columns: 30% 70%;
    margin-left:20px;   
}

.btn{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left:20px;
}

